In [1]:
import pandas as pd
import pyodbc

In [2]:
# PRIMEIRA CONEXAO COM SSMS

server = r'DESKTOP-5KQL2U6\MSSQLSERVER01'
database = 'Python'
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                           f'SERVER={server};'
                           f'DATABASE={database};'
                           'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()

In [4]:
dados = pd.read_csv(r'C:\fora do onedrive\Python Scripts\SQL\arquivos locais\outros datasets\consolidado_menor(portugues).csv')

dados = dados.drop(columns='Unnamed: 0')
dados

        Vendas_Semanais  Preco_Combustivel   Ano
0              24924.50              2.572  2010
1              50605.27              2.572  2010
2              13740.12              2.572  2010
3              39954.04              2.572  2010
4              32229.38              2.572  2010
...                 ...                ...   ...
420207           109.92              3.255  2011
420208          9209.60              3.255  2011
420209           881.14              3.255  2011
420210          1345.00              3.255  2011
420211           555.88              3.255  2011

[420212 rows x 3 columns]

In [6]:
dados['Vendas_Semanais'] = dados['Vendas_Semanais'].astype(int)

dados.head(5)

   Vendas_Semanais  Preco_Combustivel   Ano
0            24924              2.572  2010
1            50605              2.572  2010
2            13740              2.572  2010
3            39954              2.572  2010
4            32229              2.572  2010

In [ ]:
cursor.execute('truncate table [Produtos]') #exclui o original para não sobrepor

In [ ]:
for index, linha in dados.iterrows():
    cursor.execute("INSERT INTO [Produtos] (Vendas_Semanais, Preco_Combustivel, Ano) VALUES (?, ?, ?)",
                   linha.Vendas_Semanais, linha.Preco_Combustivel, linha.Ano)


cursor.commit()
cursor.close()

In [ ]:
conexaoDB.close()