### NAO EXECUTAR ESSE CODIGO

In [1]:
import pandas as pd
import pyodbc

In [2]:
# PRIMEIRA CONEXAO COM SSMS

server = r'DESKTOP-5KQL2U6\MSSQLSERVER01'
database = 'Python'
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                           f'SERVER={server};'
                           f'DATABASE={database};'
                           'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()

#### LENDO OS DADOS

In [2]:
df = pd.read_csv(r'C:\fora do onedrive\Python Scripts\SQL\arquivos locais\outros datasets\planilha_pequena.csv')
df = df.drop(df.columns[0], axis=1)
df.head()

    Produto  Valor
0     miojo    625
1  macarrão    594
2  macarrão    594
3    feijão    650
4   chinelo    862

In [5]:
cursor.execute('truncate table [Categoria]') #exclui o original para não sobrepor

#### PERCORRENDO CADA LINHA E PASSANDO PARA O SQL SERVER

In [6]:
for index, linha in df.iterrows():
    cursor.execute("INSERT INTO [Categoria] (Item, Preco) VALUES (?, ?)",
                   linha.Produto, linha.Valor)


cursor.commit()
cursor.close()
conexaoDB.close()

In [ ]:
# TUDO FUNCIONANDO DAORINHA