In [2]:
import pandas as pd
import pyodbc

In [17]:
server = r'DESKTOP-5KQL2U6\MSSQLSERVER01'
database = 'Python'
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                           f'SERVER={server};'
                           f'DATABASE={database};'
                           'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()

In [3]:
df = pd.read_excel(r"C:\fora do onedrive\Python Scripts\SQL\arquivos locais\outros datasets\comecomeiofim.xlsx")
df.head(3)

   Começo  Meio  Fim
0       1    11   21
1       2    12   22
2       3    13   23

In [19]:
cursor.execute('truncate table [Itens]') #exclui o original para não sobrepor

In [20]:
for index, linha in df.iterrows():
    cursor.execute("INSERT INTO [Itens] (Começo, Meio, Fim) VALUES(?, ?, ?)",
                   (int(linha.Começo), int(linha.Meio), float(linha.Fim)))

cursor.commit()
cursor.close()
conexaoDB.close()