In [1]:
import pandas as pd

In [2]:
parte1 = pd.read_excel(r'C:\fora do onedrive\Python Scripts\SQL\fazendo minhas coisas\banco de dados mercado\Parte 1.xlsx')
parte2 = pd.read_excel(r'C:\fora do onedrive\Python Scripts\SQL\fazendo minhas coisas\banco de dados mercado\Parte 2.xlsx')
parte3 = pd.read_excel(r'C:\fora do onedrive\Python Scripts\SQL\fazendo minhas coisas\banco de dados mercado\Parte 3.xlsx')
parte4 = pd.read_excel(r'C:\fora do onedrive\Python Scripts\SQL\fazendo minhas coisas\banco de dados mercado\Parte 4.xlsx')

In [11]:
'''

EXPLICAÇÃO DOS COMANDOS

left_on     chave da tabela a esquerda
right_on    chave da tabela a direita
how         tipo de join


TIPOS DE JOIN 

left          todos os dados da tabela a esquerda (1° tabela) e completa com o restante
right         todos os dados da tabela a direita (2° tabela) e completa com o restante
inner         retorna dados apenas quando as duas tabelas tem chaves  
outer         retorna todos os registros de ambas as tabelas

'''

'\n\nEXPLICAÇÃO DOS COMANDOS\n\nleft_on     chave da tabela a esquerda\nright_on    chave da tabela a direita\nhow         tipo de join\n\n\nTIPOS DE JOIN \n\nleft          todos os dados da tabela a esquerda (1° tabela) e completa com o restante\nright         todos os dados da tabela a direita (2° tabela) e completa com o restante\ninner         retorna dados apenas quando as duas tabelas tem chaves  \nouter         retorna todos os registros de ambas as tabelas\n\n'

In [12]:
completo = pd.merge(parte1, parte2, left_on='ID', right_on='ID', how='left')

completo.head(5)

           Produtos  Categoria  ID  Preco       Marca    Peso
0             Arroz  Alimentos   1   22.9    Tio João    5 kg
1            Feijão  Alimentos   2    8.5       Camil    1 kg
2            Açúcar  Alimentos   3    4.3       União    1 kg
3  Farinha de trigo  Alimentos   4    5.6  Dona Benta    1 kg
4      Óleo de soja  Alimentos   5    9.8        Liza  900 ml

In [13]:
completo = pd.merge(completo, parte3, left_on='ID', right_on='ID', how='left')
completo.head()

,Produtos,Categoria,ID,Preco,Marca,Peso,Estoque,Validade
0,Arroz,Alimentos,1,22.9,Tio João,5 kg,50,2024-12-01
1,Feijão,Alimentos,2,8.5,Camil,1 kg,40,2024-11-15
2,Açúcar,Alimentos,3,4.3,União,1 kg,60,2025-03-10
3,Farinha de trigo,Alimentos,4,5.6,Dona Benta,1 kg,35,2025-04-20
4,Óleo de soja,Alimentos,5,9.8,Liza,900 ml,45,2025-01-05

In [3]:
original = pd.read_excel(r'C:\fora do onedrive\Python Scripts\SQL\fazendo minhas coisas\banco de dados mercado\banco de dados mercado.xlsx')

original.head()

,Produtos,Categoria,Preco,ID,Marca,Estoque,Validade,Fornecedor,Preco_Por_Unidade,Origem,Peso
0,Arroz,Alimentos,22.9,1,Tio João,50,2024-12-01,Distribuidora XYZ,"2,29 (kg)",Nacional,5 kg
1,Feijão,Alimentos,8.5,2,Camil,40,2024-11-15,Atacado Central,"4,25 (kg)",Nacional,1 kg
2,Açúcar,Alimentos,4.3,3,União,60,2025-03-10,Distribuidora ABC,"4,30 (kg)",Nacional,1 kg
3,Farinha de trigo,Alimentos,5.6,4,Dona Benta,35,2025-04-20,Atacado Central,"2,80 (kg)",Nacional,1 kg
4,Óleo de soja,Alimentos,9.8,5,Liza,45,2025-01-05,Distribuidora XYZ,"9,80 (litro)",Nacional,900 ml

In [15]:
completo = pd.merge(completo, parte4, left_on='ID', right_on='ID', how='left')
completo.head()

,Produtos,Categoria,ID,Preco,Marca,Peso,Estoque,Validade,Fornecedor,Preco_Por_Unidade,Origem
0,Arroz,Alimentos,1,22.9,Tio João,5 kg,50,2024-12-01,Distribuidora XYZ,"2,29 (kg)",Nacional
1,Feijão,Alimentos,2,8.5,Camil,1 kg,40,2024-11-15,Atacado Central,"4,25 (kg)",Nacional
2,Açúcar,Alimentos,3,4.3,União,1 kg,60,2025-03-10,Distribuidora ABC,"4,30 (kg)",Nacional
3,Farinha de trigo,Alimentos,4,5.6,Dona Benta,1 kg,35,2025-04-20,Atacado Central,"2,80 (kg)",Nacional
4,Óleo de soja,Alimentos,5,9.8,Liza,900 ml,45,2025-01-05,Distribuidora XYZ,"9,80 (litro)",Nacional

In [17]:
completo = completo[['ID', 'Produtos', 'Categoria', 'Preco', 'Marca', 'Peso', 'Estoque',
                     'Validade', 'Fornecedor', 'Preco_Por_Unidade', 'Origem']]

completo.head()

,ID,Produtos,Categoria,Preco,Marca,Peso,Estoque,Validade,Fornecedor,Preco_Por_Unidade,Origem
0,1,Arroz,Alimentos,22.9,Tio João,5 kg,50,2024-12-01,Distribuidora XYZ,"2,29 (kg)",Nacional
1,2,Feijão,Alimentos,8.5,Camil,1 kg,40,2024-11-15,Atacado Central,"4,25 (kg)",Nacional
2,3,Açúcar,Alimentos,4.3,União,1 kg,60,2025-03-10,Distribuidora ABC,"4,30 (kg)",Nacional
3,4,Farinha de trigo,Alimentos,5.6,Dona Benta,1 kg,35,2025-04-20,Atacado Central,"2,80 (kg)",Nacional
4,5,Óleo de soja,Alimentos,9.8,Liza,900 ml,45,2025-01-05,Distribuidora XYZ,"9,80 (litro)",Nacional