In [4]:
import pandas as pd
import pyodbc

In [5]:
# PRIMEIRA CONEXAO COM SSMS

server = r'DESKTOP-5KQL2U6\MSSQLSERVER01'
database = 'Python'
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                           f'SERVER={server};'
                           f'DATABASE={database};'
                           'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()

#### LENDO OS DADOS

In [6]:
df = pd.read_excel(r'C:\fora do onedrive\Python Scripts\SQL\fazendo minhas coisas\banco de dados mercado\banco de dados mercado.xlsx')
df.head(3)

,Produtos,Categoria,Preco,ID,Marca,Estoque,Validade,Fornecedor,Preco_Por_Unidade,Origem,Peso
0,Arroz,Alimentos,22.9,1,Tio João,50,2024-12-01,Distribuidora XYZ,"2,29 (kg)",Nacional,5 kg
1,Feijão,Alimentos,8.5,2,Camil,40,2024-11-15,Atacado Central,"4,25 (kg)",Nacional,1 kg
2,Açúcar,Alimentos,4.3,3,União,60,2025-03-10,Distribuidora ABC,"4,30 (kg)",Nacional,1 kg

In [7]:
cursor.execute('truncate table [Mercado]') #exclui o original para não sobrepor

#### CRIANDO A TABELA COMPLETA

In [8]:
for index, linha in df.iterrows():
    cursor.execute('''INSERT INTO [Mercado] (Produtos, Categoria, Preco, ID, Marca, Estoque,
                   Validade, Fornecedor, Preco_Por_Unidade, Origem, Peso) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)''',
                   linha.Produtos, linha.Categoria, linha.Preco, linha.ID,
                   linha.Marca, linha.Estoque, linha.Validade,
                   linha.Fornecedor, linha.Preco_Por_Unidade, linha.Origem,
                   linha.Peso)


cursor.commit()
cursor.close()
conexaoDB.close()

#### CODIGO PARA CRIAR A TABELA COMPLETA

In [9]:
'''

CREATE TABLE Mercado(
    [Produtos] nvarchar(255),
	[Categoria] nvarchar(255),
	[Preco] float,
	[ID] int,
	[Marca] nvarchar(255),
	[Estoque] int,
	[Fornecedor] nvarchar(255),
	[Preco_Por_Unidade] nvarchar(255),
	[Origem] nvarchar(255),
	[Peso] nvarchar(255),
	[Validade] date
);

'''

'\n\nCREATE TABLE Mercado(\n    [Produtos] nvarchar(255),\n\t[Categoria] nvarchar(255),\n\t[Preco] float,\n\t[ID] int,\n\t[Marca] nvarchar(255),\n\t[Estoque] int,\n\t[Fornecedor] nvarchar(255),\n\t[Preco_Por_Unidade] nvarchar(255),\n\t[Origem] nvarchar(255),\n\t[Peso] nvarchar(255),\n\t[Validade] date\n);\n\n'