In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\fora do onedrive\Python Scripts\SQL\fazendo minhas coisas\banco de dados mercado\mercado_com_data.csv')

df['Data'] = pd.to_datetime(df['Data'])

df.dtypes

C:\Users\henry\AppData\Local\Temp\ipykernel_6816\966443995.py:3: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Data'] = pd.to_datetime(df['Data'])

Produtos                     object
Categoria                    object
Preco                        object
ID                            int64
Marca                        object
Estoque                       int64
Validade                     object
Fornecedor                   object
Preco_Por_Unidade            object
Origem                       object
Peso                         object
Data                 datetime64[ns]
dtype: object

In [9]:
df['Mês'] = df['Data'].dt.month

df.head(2)

,Produtos,Categoria,Preco,ID,Marca,Estoque,Validade,Fornecedor,Preco_Por_Unidade,Origem,Peso,Data,Mês
0,Arroz,Alimentos,"22,9",1,Tio João,50,01/12/2024,Distribuidora XYZ,"2,29 (kg)",Nacional,5 kg,2024-09-22,9
1,Feijão,Alimentos,"8,5",2,Camil,40,15/11/2024,Atacado Central,"4,25 (kg)",Nacional,1 kg,2024-09-20,9

In [39]:
# FILTRANDO UM MES ESPECIFICO

df.query("Data.dt.month == 9").head()

,Produtos,Categoria,Preco,ID,Marca,Estoque,Validade,Fornecedor,Preco_Por_Unidade,Origem,Peso,Data,Mês
0,Arroz,Alimentos,"22,9",1,Tio João,50,01/12/2024,Distribuidora XYZ,"2,29 (kg)",Nacional,5 kg,2024-09-22,9
1,Feijão,Alimentos,"8,5",2,Camil,40,15/11/2024,Atacado Central,"4,25 (kg)",Nacional,1 kg,2024-09-20,9
2,Açúcar,Alimentos,"4,3",3,União,60,10/03/2025,Distribuidora ABC,"4,30 (kg)",Nacional,1 kg,2024-09-28,9
3,Farinha de trigo,Alimentos,"5,6",4,Dona Benta,35,20/04/2025,Atacado Central,"2,80 (kg)",Nacional,1 kg,2024-09-11,9
4,Óleo de soja,Alimentos,"9,8",5,Liza,45,05/01/2025,Distribuidora XYZ,"9,80 (litro)",Nacional,900 ml,2024-09-25,9

In [54]:
# FILTRO COMPOSTO (DIA E MES)

df.query('Data.dt.day == 22 & Data.dt.month == 9')

,Produtos,Categoria,Preco,ID,Marca,Estoque,Validade,Fornecedor,Preco_Por_Unidade,Origem,Peso,Data,Mês
0,Arroz,Alimentos,"22,9",1,Tio João,50,01/12/2024,Distribuidora XYZ,"2,29 (kg)",Nacional,5 kg,2024-09-22,9
6,Macarrão,Alimentos,"4,2",7,Renata,70,30/11/2024,Distribuidora ABC,"2,10 (kg)",Nacional,500 g,2024-09-22,9