In [2]:
import pandas as pd
import os
import subprocess
import sys

def install_matplotlib():
    subprocess.check_call([sys.executable, "-m", "pip", "install", "matplotlib"])

# Tente importar o matplotlib, e se não estiver instalado, instale-o.
try:
    import matplotlib
except ModuleNotFoundError:
    install_matplotlib()
    import matplotlib

# DIRÉTORIO

diretorio = (r"C:\fora do onedrive\Python Scripts\Arquivos\duas metades")

# LISTA PARA ARMAZENAR OS DADOS DOS ARQUIVOS

dados = []

for arquivo in os.listdir(diretorio):
    if arquivo.endswith('csv'):
        caminho_arquivo = os.path.join(diretorio, arquivo)
        df = pd.read_csv(caminho_arquivo)
        dados.append(df)

# CONSOLIDAR EM UM UNICO DATA FRAME

consolidado = pd.concat(dados)
consolidado

,Unnamed: 0,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,...,Unemployment,Type,Size,Super_Bowl,Labor_Day,Thanksgiving,Christmas,week,month,year
0,0,1,1,2010-02-05,24924.50,False,42.31,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
1,1,1,2,2010-02-05,50605.27,False,42.31,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
2,2,1,3,2010-02-05,13740.12,False,42.31,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
3,3,1,4,2010-02-05,39954.04,False,42.31,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
4,4,1,5,2010-02-05,32229.38,False,42.31,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210101,210771,22,54,2011-02-11,109.92,True,28.89,3.255,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011
210102,210772,22,55,2011-02-11,9209.60,True,28.89,3.255,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011
210103,210773,22,56,2011-02-11,881.14,True,28.89,3.255,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011
210104,210774,22,58,2011-02-11,1345.00,True,28.89,3.255,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011
210105,210775,22,59,2011-02-11,555.88,True,28.89,3.255,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011